# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.*.local

# Google Cloud Service Account Keys
*.json
!package.json
!package-lock.json
!jsconfig.json


# Logs
logs
*.log
logs/**/*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript

# Next.js
.next/

# Build
dist/
build/
.cache/
.tmp/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp

# Docker
docker-data/
*.tgz
